<form id="login-form" action="<%= localPath %>" method="POST" class="align-center">
  <%- contentTag('input', params.username, {type: 'text', name: 'username', placeholder: 'Username', class: 'span6'}) %>

  <%- contentTag('input', params.password, {type: 'password', name: 'password', placeholder: 'Password', class: 'span6'}) %>

  <%- linkTo('New user', '/users/add', {class: 'btn span3'}) %>
  <%- contentTag('input', 'Login', {type: 'submit', class: 'btn primary span3'}) %>
</form>
