<form id="message-form" class="form-horizontal" action="/<%= params.user %>/<%= params.room %>" method="POST">
  <% if(params.errors) { %>
    <ul>
      <% for(var err in params.errors) { %>
        <li><%= params.errors[err]; %></li>
      <% } %>
    </ul>
  <% } %>
  
  <%= partial('messages/_form', {message: params}); %>
  
  <%- contentTag('input', 'Send', {type: 'submit'}) %>
</form>
